/*General*/
html, body{	
	height:100%;
}
	body{
		font-family: 'Roboto', sans-serif;
		background-image: url(images/texture.png);
		width: 100%;
	}
		body > .container{
			box-shadow: 0 9px 18px rgba(0, 0, 0, .5);
			background-color: #6fcbdc;
			height: 97%;
		}


/*Header*/
header img {
	width: 175px;
	padding: 25px 0;
}


/*Content*/
hr{
	margin-top: -15px;
}
	h1{
		font-size: 20px;
		color: #1f1a17;
	}
		h1 a{
			 color:#fff ;
		}
			h1 a:hover{
				color:#272361;
				text-decoration: none;
			}
				#main p{
					color: #1f1a17;
					padding: 15px 0;
				}
					.card-body{
						background-color: #6fcbdc;
						box-shadow: 0 8px 18px rgba(0, 0, 0, .5);
					}
						form a{
							color: #fff
						}
							form a:hover{
								color:#272361;
								text-decoration: none;
							}
								.btn {
									background-color: #fff;
									border: 1px solid #272361;
									color: #272361;
								}
									.btn:hover{
										background-color: #272361;
									}
										.helper label{
											font-size: 12px;
											display: block;
										    padding-left: 15px;
										    text-indent: -15px;
										}
											.helper input{
												width: 13px;
											    height: 13px;
											    top: 2px;
											    margin-right: 5px;
											    position: relative;
											    overflow: hidden;
											    background-color: white;
											    border-radius: 50%;
											    border: 1px solid #ddd;
											    -webkit-appearance: none;
											    outline: none;
											    cursor: pointer;
											}
											.helper input:checked {
											    background-color: gray;
											}



/*Social Networks*/
.social-main a{
	color: #fff;
}
	.social-main a:hover{
		transform: translateY(-10px);
	}
		.social-main a .fa-inverse{
			color: #272361;
		}	
			@media (max-width: 580px){
				body > .co{
					background-color: #6fcbdc;
					height: 140%;
				}
				.social-main span{
					margin-bottom: 15px;
					font-size: 20px;
				}
			}


/*Footer*/
footer{
	color: #e4eddb;
	background-color: #1f1a17;
	font-size: 12px;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	bottom: 0;
}
	footer ul {
		margin-bottom: 0;
	}
		footer a {
			color: #e4eddb;
			font-weight: bold;
		}
			footer a:hover{
				color: #fff;
				text-decoration: none;
			}
				@media (max-width: 600px){
					footer{
						font-size: 10px;
					}
					ul{
						font-size: 9px;
					}
				}			